<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCd38S7OrkzRaRj3O_i39Fobx_7OSaF9fE</string>
	<key>GCM_SENDER_ID</key>
	<string>51792896520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobilemojlish.mobileMojlish</string>
	<key>PROJECT_ID</key>
	<string>mobilemojlish-5f9f0</string>
	<key>STORAGE_BUCKET</key>
	<string>mobilemojlish-5f9f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51792896520:ios:9d2b6f31187108499667bd</string>
</dict>
</plist>